body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.button {
  color:#FFF0F5; 
  border: none;
  color: gray;
  padding: 8px 8px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 4px;
  cursor: pointer;
}
.chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.chart > * {
  margin: 0 10px;
}

.chart select {
  margin-top: 20px;
}

.view-select-label {
  font-size: 20px;
  color: #DCDCDC;
}
.chart2{
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #FFF0F5;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:gray;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin-right: 10px;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #FFF0F5;
  overflow: hidden;
  border-radius: .25em;
}
.container-fluid{
  content: '\25BC';
  position: absolute;
  padding: 0 1em;
  background: -webkit-linear-gradient(right, #a445b2, #fa4299);
  transition:.25s all ease;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: -webkit-linear-gradient(right, #a445b2, #fa4299);
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #FFF0F5;
}
h2 {
 text-align: right;
}
small {
  text-align: right;
  color: white;
 }
 .error {
  color:#FFC0CB;
  font-size: 20px;
}
.hidden {
  display: none;
}

input[type=text], textarea {
 width: 24em;
  height: 2.5em;
 padding: 10px;
 justify-content: center;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
 margin-top: 25px;
 margin-bottom: 16px;
 resize: vertical;
 background-color: #FFF0F5;
}
